@charset "UTF-8";

@import
  url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Myeongjo&display=swap');

body {
  font-family: 'Nanum Gothic', sans-serif;
/*   background-color: #F1F2F5; */
  text-align: center;
}

h1 {
	font-size : 30px;
	font-weight: bold;
	padding-top: 300px;
	padding-bottom: 20px;
}

#signUpId {
	border : 1px solid black;
	width : 200px;
	margin : 0 auto;
}

#signUpPw {
	border : 1px solid black;
	width : 200px;
	margin : 0 auto;
}

#signUpName {
	border : 1px solid black;
	width : 200px;
	margin : 0 auto;
}

#signUpAddress {
	border : 1px solid black;
	width : 200px;
	margin : 0 auto;
}

#signUpBirth {
	border : 1px solid black;
	width : 200px;
	margin : 0 auto;
}

/* #file { */
/* 	border : 1px solid black; */
/* 	width : 200px; */
/* 	margin : 0 auto; */
/* } */

#signUpBtn {
	background-color: white;
}