@charset "UTF-8";

@import
  url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Myeongjo&display=swap');

body {
  font-family: 'Nanum Gothic', sans-serif;
/*   background-color: #F1F2F5; */
  text-align: center;
}

h1 {
	font-size : 30px;
	font-weight: bold;
	padding-top: 300px;
	padding-bottom: 20px;
}

#signId {
	border : 1px solid black;
	width : 170px;
	margin : 0 auto;
}

#signPw {
	border : 1px solid black;
	width : 170px;
	margin : 0 auto;
}

#signBtn {
	padding : 20px;
}

#signInBtn{
	background-color: white;
}