@charset "UTF-8";

@import
  url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Myeongjo&display=swap');

body {
  font-family: 'Nanum Gothic', sans-serif;
  background-color: #F1F2F5;
}

#space {
  height: 50px;
}

#title {
  font-size: 30px;
  text-align: center;
}

#nav, .btn, .nav-link {
  color: white;
}

.btn, .nav-link:hover {
  color: white;
  text-shadow: 1px 1px 1px white;
}

h1 {
	padding: 50px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#info {
	margin: 0 auto;
	text-align: center;
}

#info #info-in {
	padding: 50px;
}

#select {
	display: inline-block;
	padding-left: 50px;
	padding-right: 50px;
}
