<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chat_message">
  <resultMap type="chatMessage" id="chatMessageResultMap">
    <result property="chatId" column="chatid" />
    <result property="roomId" column="roomid" />
    <result property="fromId" column="fromid" />
    <result property="toId" column="toid" />
    <result property="chatContent" column="chatcontent" />
    <result property="chatTime" column="chattime" />
  </resultMap>
  
  <!-- 방 아이디를 통해 채팅 내용 불러오기-->
  <select id="selectChatDialog" resultType="chatMessage">
    SELECT *
    FROM CHATMESSAGE
    WHERE ROOMID = #{roomId}
    AND DATASTATE IN ('BOTH', #{id})
    ORDER BY CHATTIME
  </select>
  
  <!-- 채팅 입력하기 -->
  <insert id="insertChatDialog" parameterType="chatMessage">
    INSERT INTO CHATMESSAGE (CHATID, ROOMID, FROMID, TOID, CHATCONTENT)
    VALUES (CHATMESSAGE_CHATID_SEQ.NEXTVAL, #{roomId}, #{fromId}, #{toId}, #{chatContent})
  </insert>
  
  <!-- 해당 아이디의 최근 메시지들 내용 가져오기 -->
  <select id="selectRecentChatDialog" resultType="chatMessage">
    SELECT *
    FROM CHATMESSAGE
    WHERE CHATID IN (SELECT MAX(CHATID)
                      FROM CHATROOM CR, CHATMESSAGE CM
                      WHERE CR.ROOMID = CM.ROOMID
                      AND CM.ROOMID IN (SELECT DISTINCT ROOMID
                                        FROM CHATMESSAGE
                                        WHERE (FROMID = #{id} OR TOID = #{id}))
                     GROUP BY CR.ROOMID)
    ORDER BY CHATTIME DESC
  </select>
  
  <!-- 읽지 않은 메시지 개수 조회 -->
  <select id="selectNotReadMsgCount" resultType="int">
    SELECT COUNT(*)
    FROM CHATMESSAGE
    WHERE TOID = #{id}
    AND ROOMID = #{roomId}
    AND CHATREAD = 'F'
  </select>
  
  <!-- 읽은 메시지 업데이트 -->
  <select id="updateReadMsg">
    UPDATE CHATMESSAGE
    SET CHATREAD = 'T'
    WHERE ROOMID = #{roomId}
    AND TOID = #{id}
  </select>
  
  <!-- 채팅방 나가기 -->
  <update id="updateExitChat">
    UPDATE CHATMESSAGE
    SET DATASTATE = CASE
                        WHEN ROOMID = #{roomId} AND (FROMID = #{id} OR TOID = #{id}) AND (DATASTATE IN ('BOTH', #{person})) THEN #{person}
                        WHEN ROOMID = #{roomId} AND (FROMID = #{id} OR TOID = #{id}) AND (DATASTATE = #{id}) THEN 'NOTHING'
                        ELSE 'NOTHING'
                    END
    WHERE ROOMID = #{roomId}
  </update>
</mapper>