<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  
<configuration>
<!--   resultType을 더 간편하게 작성하기 위해 Aliases지정(configuration오류나니가 맨위에 써주기) -->
  <typeAliases>
<!--   	<typeAlias alias="naveruser" type="com.kitri.mini.user.vo.NaverUserVO"/> -->

  </typeAliases>
  

  

</configuration>