<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  
<configuration>
  <typeAliases>
    <typeAlias alias="chatMessage" type="com.kitri.market.chat.vo.ChatMessageVO"/>
    <typeAlias alias="chatRoom" type="com.kitri.market.chat.vo.ChatRoomVO"/>
    <typeAlias alias="userReport" type="com.kitri.market.chat.vo.UserReportVO"/>
  </typeAliases>
</configuration>